In [1]:
import pandas as pd
import pickle

In [2]:
with open('database/diabetes_no_stander.pkl','rb') as f:
    x_treinamento,y_treinamento,x_teste,y_teste = pickle.load(f)

In [3]:
x_treinamento.shape,y_treinamento.shape

((10176, 10), (10176,))

In [4]:
df_treinameto = pd.DataFrame(data=x_treinamento,columns=['Pregnancies', 'PlasmaGlucose', 'DiastolicBloodPressure',\
       'TricepsThickness', 'SerumInsulin', 'BMI', 'DiabetesPedigree', 'Age','colesterol','hba1c'])
df_treinameto['Diabetic'] = y_treinamento

In [6]:
df_treinameto

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,colesterol,hba1c,Diabetic
0,7.0,103.0,87.0,34.0,27.0,20.342487,0.562158,31.0,200.738066,5.124513,0
1,0.0,151.0,84.0,44.0,268.0,21.145764,0.656439,21.0,191.988574,4.395063,0
2,8.0,170.0,78.0,55.0,83.0,39.617643,0.132974,21.0,183.784174,6.856851,1
3,9.0,104.0,61.0,40.0,69.0,19.356281,0.119129,30.0,183.943288,4.903533,1
4,0.0,105.0,66.0,33.0,368.0,35.718095,0.736663,21.0,177.166201,6.334147,1
...,...,...,...,...,...,...,...,...,...,...,...
10171,7.0,181.0,84.0,21.0,192.0,35.900000,0.586000,51.0,208.457963,8.870129,1
10172,1.0,71.0,89.0,11.0,42.0,21.775512,1.071298,23.0,196.318345,4.647346,0
10173,6.0,85.0,57.0,11.0,31.0,18.410090,0.094348,24.0,177.651273,4.274926,0
10174,6.0,138.0,48.0,23.0,90.0,46.963900,0.523714,21.0,163.141251,7.829652,1
10175,0.0,129.0,83.0,30.0,291.0,19.542403,0.088293,21.0,191.743530,4.181035,0

In [8]:
df_teste = pd.DataFrame(data=x_teste,columns=['Pregnancies', 'PlasmaGlucose', 'DiastolicBloodPressure',\
       'TricepsThickness', 'SerumInsulin', 'BMI', 'DiabetesPedigree', 'Age','colesterol','hba1c'])
df_teste['Diabetic'] = y_teste

In [9]:
df_teste

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,colesterol,hba1c,Diabetic
0,8.0,112.0,75.0,23.0,182.0,26.515388,1.092825,21.0,185.036815,5.109042,1
1,0.0,75.0,59.0,34.0,21.0,21.092090,0.290145,22.0,176.933398,4.465835,0
2,5.0,136.0,80.0,14.0,46.0,49.591402,0.869683,21.0,182.652089,8.187262,1
3,0.0,141.0,50.0,46.0,38.0,36.178882,0.130416,22.0,167.652269,6.475557,0
4,8.0,140.0,42.0,43.0,140.0,29.003916,0.125710,22.0,164.337056,5.516995,1
...,...,...,...,...,...,...,...,...,...,...,...
3388,0.0,97.0,56.0,10.0,141.0,21.966408,0.293503,23.0,175.502493,4.665331,0
3389,1.0,78.0,62.0,28.0,204.0,19.286921,0.689748,25.0,181.254940,4.476568,0
3390,0.0,70.0,82.0,40.0,36.0,42.343580,0.221448,21.0,185.648308,7.221248,0
3391,1.0,171.0,84.0,32.0,22.0,38.728948,0.658389,21.0,187.773589,6.739705,0
3392,1.0,93.0,79.0,22.0,49.0,40.194084,0.542797,22.0,184.942262,7.017532,0

In [10]:
df = pd.merge(df_treinameto,df_teste,how='outer')

In [11]:
df

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,colesterol,hba1c,Diabetic
0,7.0,103.0,87.0,34.0,27.0,20.342487,0.562158,31.0,200.738066,5.124513,0
1,0.0,151.0,84.0,44.0,268.0,21.145764,0.656439,21.0,191.988574,4.395063,0
2,8.0,170.0,78.0,55.0,83.0,39.617643,0.132974,21.0,183.784174,6.856851,1
3,9.0,104.0,61.0,40.0,69.0,19.356281,0.119129,30.0,183.943288,4.903533,1
4,0.0,105.0,66.0,33.0,368.0,35.718095,0.736663,21.0,177.166201,6.334147,1
...,...,...,...,...,...,...,...,...,...,...,...
13564,0.0,97.0,56.0,10.0,141.0,21.966408,0.293503,23.0,175.502493,4.665331,0
13565,1.0,78.0,62.0,28.0,204.0,19.286921,0.689748,25.0,181.254940,4.476568,0
13566,0.0,70.0,82.0,40.0,36.0,42.343580,0.221448,21.0,185.648308,7.221248,0
13567,1.0,171.0,84.0,32.0,22.0,38.728948,0.658389,21.0,187.773589,6.739705,0
13568,1.0,93.0,79.0,22.0,49.0,40.194084,0.542797,22.0,184.942262,7.017532,0

In [12]:
df.describe()

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,colesterol,hba1c,Diabetic
count,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000,13569.000000
mean,3.098239,108.005454,71.059695,28.445837,116.266380,31.337895,0.359178,27.880389,185.989118,6.326332,0.283588
std,3.365312,31.994990,16.707091,14.063802,94.433128,9.722017,0.300599,8.835427,12.398055,1.532620,0.450756
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,147.288014,3.997731,0.000000
25%,0.000000,84.000000,57.000000,15.000000,38.000000,21.216592,0.138282,22.000000,176.095705,4.724431,0.000000
50%,1.000000,105.000000,72.000000,30.000000,80.000000,31.635634,0.200476,24.000000,186.878785,6.476851,0.000000
75%,6.000000,130.000000,85.000000,41.000000,179.000000,39.119745,0.565204,31.000000,194.624204,7.411127,1.000000
max,17.000000,197.000000,122.000000,75.000000,426.000000,57.300000,1.318628,54.000000,232.961841,11.644426,1.000000

In [16]:
df.to_csv('database/diabetes.csv')